# Copia este archivo como .env y completa tus claves reales

# Groq API
GROQ_API_KEY=tu_clave_de_groq_aqui

# Google Gemini API
GEMINI_API_KEY=tu_clave_de_gemini_aqui

# Base de datos PostgreSQL
DATABASE_URL=jdbc:postgresql://localhost:5432/hablabien_db

# Backend
BACKEND_PORT=8000
SECRET_KEY=admin

# Frontend
VITE_API_URL=http://localhost:8000