# cp .env.example .env

# OpenAI - Whisper API
OPENAI_API_KEY=api_key_aqui

# Google - Gemini API
GEMINI_API_KEY=api_key_aqui

# Base de datos PostgreSQL
DATABASE_URL=

# Backend
BACKEND_PORT=
SECRET_KEY=

# Frontend
VITE_API_URL=
